body { padding: 0; margin: 0}

p {
   width: 600px;
   background-color: #e3e3e3e;
   margin: 0 auto;
   padding: 20px;
   line-height: 1.5em;
}
.mask {
   position: absolute;
   display: block;
   border: 1px solid brown;
   background-color: gray;
   opacity: 0.5;
}
.sel-rect {
   position: absolute;
   display: block;
   border: 1px solid green;
   opacity: 0.5;
}

